$complementary_color:rgb(211, 237, 255);
$font1:Advent Pro;
$fontcolor1:rgb(2, 52, 110);

body{
    background: rgb(36,85,101);
    background: linear-gradient(45deg, rgba(30,148,133,1) 18%, rgba(5,91,143,1) 100%);
    margin:0;
    height: 200vh;
    header{
        display:flex;
        justify-content: center;
        background-color:$complementary_color;
        position:sticky;
        top:0;
        #menu{
            display: none;
        }
        .overlay{
            position: absolute;
            z-index: -1;
            top:40px;
            background-color:rgba(0, 0, 0, 0.349);
            width:100vw;
            height:100vh;
            display: none;
        }
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
             a{
                margin:15px;
                text-decoration: none;
                font-family: $font1;
                font-size: 30px;
                vertical-align: center;
                line-height: 40px;
                color:$fontcolor1;
                transition: .5s;
                white-space: nowrap;
            }
            a:hover{
                font-size:40px;
                transition:.5s;
            }
            :nth-child(1){
                 font-weight: 600;
            }
            
           
        }
    }
    @media (max-width:720px){
        header{ 
            justify-content: flex-end;
            flex-direction: row-reverse;
            nav{
                    flex-direction: column;
                    position: absolute;
                    top:-100vh;
                    width:100vw;
                    height:fit-content;
                    z-index: -1;
                    background-color: $complementary_color;
                    transition:1s;
                    a{
                        line-height: 25px;
                        font-size: 20px;
                        margin:10px 8px;
                    }
                    a:hover{
                        font-size:25px;
                    }
                }
            }         
            label{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                width:40px;
                height:40px;
                position:relative;
                cursor: pointer;
                margin-left: 8px;
                div{
                    border:3px solid $fontcolor1;
                    border-radius: 3px;
                    width:100%;
                    background-color: $fontcolor1;
                }
            }
            #menu:checked ~ label{
                :nth-child(1){
                    transform: rotate(45deg);
                    transition: .5s;
                    position: absolute;
                    top:17px;
                }
                :nth-child(2){
                    display: none;
                }
                :nth-child(3){
                    transform: rotate(-45deg);
                    transition: .5s;
                    position:absolute;
                    bottom:17px;
                }
            }
            #menu:checked ~ nav{
                top:39px;
            }
            #menu:checked ~.overlay{
                display: block;

            }
            
        }
    }