body {
  background: #245565;
  background: linear-gradient(45deg, #1e9485 18%, #055b8f 100%);
  margin: 0;
  height: 200vh;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d3edff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body header #menu {
  display: none;
}

body header .overlay {
  position: absolute;
  z-index: -1;
  top: 40px;
  background-color: rgba(0, 0, 0, 0.349);
  width: 100vw;
  height: 100vh;
  display: none;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav a {
  margin: 15px;
  text-decoration: none;
  font-family: Advent Pro;
  font-size: 30px;
  vertical-align: center;
  line-height: 40px;
  color: #02346e;
  -webkit-transition: .5s;
  transition: .5s;
  white-space: nowrap;
}

body header nav a:hover {
  font-size: 40px;
  -webkit-transition: .5s;
  transition: .5s;
  color: #0278ff;
}

body header nav :nth-child(1) {
  font-weight: 600;
}

@media (max-width: 720px) {
  body header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  body header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: -100vh;
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: -1;
    background-color: #d3edff;
    -webkit-transition: 1s;
    transition: 1s;
  }
  body header nav a {
    line-height: 25px;
    font-size: 20px;
    margin: 10px 8px;
  }
  body header nav a:hover {
    font-size: 25px;
  }
  body label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    margin-left: 8px;
  }
  body label div {
    border: 3px solid #02346e;
    border-radius: 3px;
    width: 100%;
    background-color: #02346e;
    -webkit-transition: .5s;
    transition: .5s;
  }
  body label .cross {
    width: 0;
    border: 0;
    border: 3px solid #02346e;
    position: absolute;
  }
  body label .hamburger {
    opacity: 1;
  }
  body label:hover div {
    border: 3px solid #0278ff;
    background-color: #0278ff;
  }
  body #menu:checked ~ label .cross {
    width: 100%;
    bottom: 17px;
  }
  body #menu:checked ~ label .hamburger {
    opacity: 0;
  }
  body #menu:checked ~ label :nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  body #menu:checked ~ label :nth-child(2) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  body #menu:checked ~ nav {
    top: 39px;
  }
  body #menu:checked ~ .overlay {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */